// Responsive breakpoints
$narrow-width: 20em;
$wide-width: 37.500em;
$widest-width: 64em;


// Color scheme
$color-primary: #8AECC7;
$color-secondary: #007029;
$color-background-light: #E9E9E9;
$color-border-default: #00CC8F;
$color-border-secondary: #4B4B4B;


$color-text-grey: #4B4B4B;