@import "abstracts/abstracts";

main, figure {
	display: block;
}

* {
	box-sizing: border-box;
}
html {
	height: 100%;
	width: 100%;
}

body {
	display: flex;
	min-height: 100%;
	min-width: 100%;
	background-attachment: fixed;
	background-color: $color-background-light;
	background-image: url(../../images/camp-nou.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	color: $color-text-grey;
	font: 100%/1.5 'Source Sans Pro', sans-serif;
}

*, *:after, *:before{
	margin: 0;
	padding: 0;
}

.l-main {
	display: flex;
	flex-direction: column;
	display: grid;
	grid-template-areas: "match"
						 "field";
	width: 100%;
	flex-grow: 1;
	@include widest {
		grid-template-areas: "match field field field field field";
		flex-direction: row;
	}
}

.l-main__panel {
	float: left;
}

.l-main__panel-match {
	background-color: $color-white;
	background-color: $color-transp-white-800;
	border-bottom: 2px solid $color-border-default;
	padding-bottom: 2rem;
	grid-area: match;
	width: 30%;
	// Flex fallbacks
	flex: 0 0 auto;
	// Breakpoints
	@include widest {
		flex: 0 0 30%;
		border-bottom: none;
		border-right: 2px solid $color-border-default;
		padding-bottom: 0;
	}
	@supports (display: flex) {
		width: 100%;
	}
	@supports (display: grid) {
		width: auto;
	}
}


.l-main__panel-field {
	grid-area: field;
	@include wide {
		width: 70%;
	}
	@supports (display: grid) {
		width: auto;
	}

}

@supports (display: grid) {
	.l-main__panel {
		width: auto;
	}
}

// Components
@import "components/summary";
@import "components/field";